body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(#b0ece1,#5fa799);
}
.Screen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    height: 50vh;
    width: 50vh;
    background-image: radial-gradient(#F7F9F2,#E8C5E5);
    box-shadow: 0 0 0 1vh #E8C5E5;
    border: 1vh solid #91DDCF;
}
.Deck{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 140vh;
    background-image: radial-gradient(#F7F9F2,#E8C5E5);
    box-shadow: 0 0 0 1vh #E8C5E5;
    border: 1vh solid #91DDCF;
    gap: 5vh;
    
}
.EasyCards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 40%;
    gap: 2vh;
}
.NormalCards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 2vh;
}
.HardCards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    gap: 2vh;
}
.Card{
    height: 30vh;
    width: 20vh;
}
.Screen button{
    height: 10vh;
    width: 40vh;
}
.Deck Button{

}
